{% extends "landing/wrapper.html" %}
{% block title %}blog{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Fixed top</a>
        </nav>
    </div>

{% endblock body %}
