{#{% load static from staticfiles %}#}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
    {#          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}


    <link rel="stylesheet" type="text/css" href="{% static "landing/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/buterbrod_custom.css' %}">


    <title>test</title>

</head>
<body>

<!--BEGIN topbar block-->
<!--топбар где все сделано по трушному текстом и картинки отдельно это все для анимации но не доделал-->
{#<div class="container-fluid bv_topbar_container">#}
{#    <div class="container">#}
{#        <div class="row bv_main_logo">#}
{#            <div class="col ">#}
{#                <div class="card bg-transparent border-0 float-right">#}
{#                    <p>ВИДЕО и ТВ РЕКЛАМА ДЛЯ IT И ИННОВАЦИОННЫХ ПРОЕКТОВ</p>#}
{#                    <p class=" bv_main_visual_agensy"> ВИЗУАЛЬНОЕ <BR>#}
{#                        АГЕНСТВО</p>#}
{#                </div>#}
{#                <p>БУТЕРБРОДВИДЕО</p>#}
{#            </div>#}
{#            <div class="col"></div>#}
{#            <div class="col"><p> тут контакты и соцсети</p></div>#}
{#        </div>#}
{#    </div>#}
<!--КОНЕЦ топбар где все сделано по трушному текстом и картинки отдельно это все для анимации но не доделал-->

<!--топбар тупо картинкой на фоне-->
<div class="container-fluid bv_topbar_container bv_main_logo">
    <div class="container">
        <!--КОНЕЦ топбар тупо картинкой на фоне-->

        <div class="row justify-content-end" id="bv_topbar_container_row">
            <div class="col-sm-3 align-self-end ">
                <div class="inline-group">
                    <ul class="inline-group">
                        <li class="list-inline-item" id="bv_ru">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="list-inline-item" id="bv_en" href="#">
                            <a class="nav-link" href=""></a>
                        </li>
                        <li class="list-inline-item" id="bv_fin">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--END of topbar block-->

<!--BEGIN of menubar block-->




<div class=" navbar sticky-top navbar-expand-sm  justify-content-md-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
            aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span id="bv_navbar_menu_toggler">  меню ☰  </span>
    </button>

    <nav class="navbar-collapse collapse  navbar-expand-sm justify-content-md-center" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item" id="bv_navbar_menu_glavnaja_btn">
                <a class="nav-link " href="#"></a>
            </li>
            <li class="nav-item" id="bv_navbar_menu_proj_btn">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item" id="bv_navbar_menu_blog_btn">
                <a class="nav-link " href="#"></a>
            </li>
            <li class="nav-item" id="bv_navbar_menu_how_we_work">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item" id="bv_navbar_menu_team">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item" id="bv_navbar_menu_kontaks">
                <a class="nav-link" href="#"></a>
            </li>

        </ul>
    </nav>
</div>

{#<nav class="navbar sticky-top navbar-expand-sm  justify-content-center" style="-ms-background-position-y: 30px">#}
{#    <ul class="navbar-nav">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link bv_navbar_menu_glavnaja_btn" href="#">Главная</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">Проекты</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link bv_navbar_menu_blog_btn" href="#">Блог</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">Как мы работаем</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">комманда</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="#">Контакты</a>#}
{#        </li>#}
{##}
{#    </ul>#}
{#</nav>#}


<!--END of menubar block-->

<!-- КАРУСЕЛЬ-->
<div class="container" style="height: 400px; background: #1c7430"></div>

<!--********************************************************************-->

<!--блог-->
<div class="container " style="background: #9fcdff">
    <div class="row" id="bv_blog_bg">
        <div class="col">
            <div class="text-center bv_blog_header">
                <h1>Блог</h1>
                <!-- !!!!!!!!!!!!!!!!!!!!!!!!-->
                <br>
                <!-- Grid column -->
                <!--Modal: Name-->
                <div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe width="100px" class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/A3PDXmYoF5U"
                                            allowfullscreen></iframe>
                                </div>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <span class="mr-4">Spread the word!</span>

                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                        data-dismiss="modal">Close
                                </button>

                            </div>

                        </div>
                        <!--/.Content-->

                    </div>
                </div>
                <!--Modal: Name-->

                <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                        alt="video" data-toggle="modal" data-target="#modal1"></a>


                <!-- !!!!!!!!!!!!!!!!!!!!!!!!-->


            </div>
        </div>
        <div class="col">
            <p class="text-right bv_blog_buterblog_word">Бутерблог</p>
            <div class="card border-0 float-right  bv_blog_nastuchat_po_klave">
                <h2 class="text-center"> Вам настучать по клаве?<br>Задушевно? </h2>
                <h3>Опыт исследования непрямого видеомонтажа в <br>
                    следстенном изоляторе Владимирского централа.</h3>
                <p>Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой</p>
            </div>

        </div>
    </div>
    {#видосики     источник  https://mdbootstrap.com/components/bootstrap-video/#}
    <!-- Grid row -->
    <div class="row" id="bv_blog_video_short">

        <!-- Grid column -->
        <div class="col">
            <h2>Куда деваются волны, когда серфингисты ложатся спать?</h2>
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                    data-dismiss="modal">Close
                            </button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
                    alt="video" data-toggle="modal" data-target="#modal1"></a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
            <h2>Зачем думают деревья?</h2>
            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                    data-dismiss="modal">Close
                            </button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
                    alt="video" data-toggle="modal" data-target="#modal6"></a>
            <p>Мы свяжемся с вами быстрее, чем вы думаете! Мы зададим еще много вопросов о вашем продукте, а вы сп</p>
        </div>


        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
            <h2>Зачем деревьям серфингисты?</h2>
            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                        allowfullscreen></iframe>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                    data-dismiss="modal">Close
                            </button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
                    alt="video" data-toggle="modal" data-target="#modal4"></a>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    {#КОНЕЦ видосики#}
    <div class="navbar justify-content-center">
        <p><a class="btn " id="bv_blog_eshe_button" href="#" role="button"></a></p>
    </div>
</div>
<!--КОНЕЦ блог-->


<!-- карта адрес и тд-->

<div class="container " id="bv_kontakts_background">
    <div class="row " id="bv_kontakts_logo"></div>
    <div class="row">
        <div class="col-sm-3 text-right">
            БУТЕРБРОДВИДЕО<br>
            Визуальное агентство полного
            цикла <br>
            Россия
            Лиговский пр., 65
            Санкт-Петербург
            191040
            офис 10
            Телефон: +7(921)752-11-62
            leesaveliev@gmail.com
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.289462225488!2d30.35535701609655!3d59.927338881872046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631baa6d77847%3A0xa09661a07758aed7!2z0JvQuNCz0L7QstGB0LrQuNC5INC_0YAuLCA2NSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTA0MA!5e0!3m2!1sru!2sru!4v1535838194384"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>
<!-- КОНЕЦ карта адрес и тд-->


<!-- /////////////////////////////тестовый блок///////////////////////////-->


<!--/////////////////////// конец тестовый блок///////////////////////////////////////-->


<footer class="fixed-bottom">
    <div class="container  justify-content-center">
        <div class="align-bottom text-center bv_fixed_footer ">
            <p style="padding:0; margin: 0; vertical-align: bottom">ВИДЕО и ТВ РЕКЛАМА ДЛЯ <b>IT</b> и <b> ИННОВАЦИОННЫХ
                ПРОЕКТОВ</b></p>
        </div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static "landing/js/bv_scripts.js" %}"></script>
</body>
</html>