{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
    {#          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}


    <link rel="stylesheet" type="text/css" href="{% static "landing/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/buterbrod_custom.css' %}">


    <title>test_mini</title>

</head>
<body>
<div class="container-fluid bv_topbar_container bv_main_logo">
    <div class="container">
        <!--КОНЕЦ топбар тупо картинкой на фоне-->

        <div class="row justify-content-end" id="bv_topbar_container_row">
            <div class="col--3 align-self-end ">
                <div class="inline-group">
                    <ul class="inline-group">
                        <li class="list-inline-item" id="bv_ru">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="list-inline-item" id="bv_en" href="#">
                            <a class="nav-link" href=""></a>
                        </li>
                        <li class="list-inline-item" id="bv_fin">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--*************************END of topbar block***************************************************************-->


<!--меню под логотипом. У нас несколько меню: вттроенное в фирменном стиле. 2 - появляющееся при прокрутке.
меню на других страницах которое всегда сверху-->
<div class="container-fluid justify-content-center bv_main_navbar_container" id="qq">
    <div class="row justify-content-md-center ">
        <div class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
                    aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span id="bv_navbar_menu_toggler">  меню ☰  </span>
            </button>

            <nav class="navbar-collapse collapse navbar-expand-md justify-content-md-center " id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item " id="bv_navbar_menu_glavnaja_btn">
                        <a class="nav-link " href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_proj_btn">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_blog_btn">
                        <a class="nav-link " href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_how_we_work">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_team">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_kontaks">
                        <a class="nav-link" href="#"></a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
<!--КОНЕЦ меню под логотипом-->

<!--меню появляющееся при прокрутке-->


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="navbar navbar-expand-md fixed-top" id="bv_sticky_menu" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2"
                    aria-controls="collapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span id="bv_navbar_menu_toggler">  меню ☰  </span>
            </button>

            <nav class="navbar-collapse collapse navbar-expand-md justify-content-md-center " id="collapsingNavbar2">
                <ul class="navbar-nav">
                    <li class="nav-item" id="bv_navbar_menu_glavnaja_btn">
                        <a class="nav-link " href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_proj_btn">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_blog_btn">
                        <a class="nav-link " href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_how_we_work">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_team">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item" id="bv_navbar_menu_kontaks">
                        <a class="nav-link" href="#"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container" style="height: 500px"></div>
    </div>
</div>
<!--КОНЕЦ меню появляющееся при прокрутке-->


<!--******************************************************-->
<!--БЛОГ-->

<div class="container" >
    <div class="row"  >
        <div class="col">
            <div class=" bv_blog_header" >
                <h1></h1>
                <!-- !!!!!!!!!!!!!!!!!!!!!!!!-->
                <br><br><br><br>

                <!-- Grid column -->
                <!--Modal: Name-->
                <div class="card" style="min-height: 250px;width: 100%">
{#                    <div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"#}
{#                         aria-hidden="true">#}
{#                        <div class="modal-dialog modal-lg" role="document">#}
{##}
{#                            <!--Content-->#}
{#                            <div class="modal-content">#}
{##}
{#                                <!--Body-->#}
{#                                <div class="modal-body mb-0 p-0">#}
{##}
{#                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">#}
{#                                        <iframe width="100px" class="embed-responsive-item"#}
{#                                                src="https://www.youtube.com/embed/A3PDXmYoF5U"#}
{#                                                allowfullscreen></iframe>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{##}
{#                                <!--Footer-->#}
{#                                <div class="modal-footer justify-content-center">#}
{#                                    <span class="mr-4">Spread the word!</span>#}
{##}
{#                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"#}
{#                                            data-dismiss="modal">Close#}
{#                                    </button>#}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <!--/.Content-->#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <!--Modal: Name-->#}
{##}
{#                    <a><img class="card-img" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"#}
{#                            alt="video" data-toggle="modal" data-target="#modal1"></a>#}

                    ghjkgkjhgjkgfhkfg
                </div>

                <!-- !!!!!!!!!!!!!!!!!!!!!!!!-->


            </div>
        </div>
        <div class="col">
            <p class="text-right bv_blog_buterblog_word">Бутерблог</p>
            <div class="card border-0">
                <div class="bv_blog_nastuchat_po_klave"></div>
                <div class="bv_blog_nastuchat_po_klave_content" id="bv_blog_nastuchat_po_klave_content">
                    <p>Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой <br>
                    Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей
                    целевой
                </p>
                </div>
            </div>

        </div>
    </div>
    {#видосики     источник  https://mdbootstrap.com/components/bootstrap-video/#}
<div class="container" >
    <!-- Grid row -->
    <div class="row" id="bv_blog_video_short">

        <!-- Grid column -->
        <div class="col">
            <div class="card">
                fdddddd

            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
            <div class="card">
                <h2>Зачем думают деревья?</h2>
                <!--Modal: Name-->
                <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/wTcNtgA6gHs"
                                            allowfullscreen></iframe>
                                </div>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">

                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                        data-dismiss="modal">Close
                                </button>

                            </div>

                        </div>
                        <!--/.Content-->

                    </div>
                </div>
                <!--Modal: Name-->

                <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
                        alt="video" data-toggle="modal" data-target="#modal6"></a>
                <p>Мы свяжемся с вами быстрее, чем вы думаете! Мы зададим еще много вопросов о вашем продукте, а вы
                    сп</p>
            </div>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
            <div class="card">
                <h2>Зачем деревьям серфингисты?</h2>
                <!--Modal: Name-->
                <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                            allowfullscreen></iframe>
                                </div>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <span class="mr-4">Spread the word!</span>
                                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                                <!--Linkedin-->
                                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>

                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                        data-dismiss="modal">Close
                                </button>

                            </div>

                        </div>
                        <!--/.Content-->

                    </div>
                </div>
                <!--Modal: Name-->

                <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
                        alt="video" data-toggle="modal" data-target="#modal4"></a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>
    {#КОНЕЦ видосики#}
    <div class="navbar justify-content-center">
        <p><a class="btn " id="bv_blog_eshe_button" href="#" role="button"></a></p>
    </div>
</div>


<!--БЛОГ-->
<!--КОНЕЦ БЛОГ-->


<!--*********************************************************************************-->

<!--HOW WE WORK-->
<div class="container bv_bg" id="bv_how_we_works" >
    <div class="row " id="bv_how_we_works_logo"></div>
    <div class="row">
        <div class="col-xl-9 col-lg-9">
            <p>
                Итак… Как мы работаем? Прежде всего: напишите нам. Опишите простыми словами, над чем трудитесь, вашу
                гениальную бизнес-идею, оригинальный стартап, уникальное предложение, то, почему вашу новинку ждет
                великое будущее, добавьте в письме пару деталей, которые смогут помочь нам осмыслить ваши идеи чуть
                лучше, уточните, какими сроками, бюджетом вы располагаете и как вы узнали он нас, а также почему
                хотите
                работать именно с нами и т.д.

                Мы свяжемся с вами быстрее, чем вы думаете! Мы зададим еще много вопросов о вашем продукте, а вы
                спросите нас о нашем креативе, продакшене, видеомаркетинге и производственном процессе… так мы
                узнаем
                друг о друге немного больше, и у нас получится приятный рабочий диалог.

                Что мы делаем…

                Мы видеоагентство полного производственного цикла – это значит, что у нас есть все возможности и
                сильная
                профессиональная команда, чтобы осуществить ваш проект от начала до конца.

                Креатив и маркетинг. Вместе с вами мы определим, как наиболее эффективно преподнести вашей целевой
                аудитории главное преимущество и ценность вашего продукта. Это значит, что из нашего ролика ваш
                потенциальный клиент узнает сразу несколько важных вещей: как работает ваш продукт, какие приятные и
                полезные эмоции он может вызвать и зачем он вообще нужен. Сначала мы разработаем вместе с вами ТЗ,
                описывающее маркетинговую стратегию и способ мышления, которые стоят за нашими творческими идеями.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col justify-content-center">
            <div class="navbar justify-content-center">
                <p><a class="btn " id="bv_how_we_works_bg_dalshe" href="#" role="button"></a></p>
            </div>
        </div>

    </div>
</div>
<!--END HOW WE WORK-->
<!-- ************************************************************************************************************* -->
<!--OUR TEAM-->
<div class="container" >
    <div class="row">
        <div class="col" id="bv_team_logo">
        </div>
        <div class="col">
            <br>
            <p id="bv_team_logo_text">Мы свяжемся с вами быстрее, чем вы думаете! Мы зададим еще много вопросов о вашем
                продукте, а вы спросите
                нас о нашем креативе, продакшене, видеомаркетинге и производственном процессе… </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'landing/image/team/img1.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
            <div class="card">
                <img src="{% static 'landing/image/team/img5.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'landing/image/team/img2.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
            <div class="card">
                <img src="{% static 'landing/image/team/img6.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'landing/image/team/img3.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
            <div class="card">
                <img src="{% static 'landing/image/team/img7.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'landing/image/team/img4.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
            <div class="card">
                <img src="{% static 'landing/image/team/img8.png' %}" alt="">
                <img src="{% static 'landing/image/team/shariki_5.png' %}" alt="">
                <p>Леонид Савельев</p>
                <p>финансовый воротила</p>
            </div>
        </div>
    </div>
</div>


<!--END OUR TEAM-->




<!--CONTACTS-->
<br>
<br>
<div class="container " id="bv_kontakts_background">
    <div class="row " id="bv_kontakts_logo"></div>
    <div class="row">
        <div class="col-sm-3 text-right">
            БУТЕРБРОДВИДЕО<br>
            Визуальное агентство полного
            цикла <br>
            Россия
            Лиговский пр., 65
            Санкт-Петербург
            191040
            офис 10
            Телефон: +7(921)752-11-62
            leesaveliev@gmail.com
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.289462225488!2d30.35535701609655!3d59.927338881872046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631baa6d77847%3A0xa09661a07758aed7!2z0JvQuNCz0L7QstGB0LrQuNC5INC_0YAuLCA2NSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTA0MA!5e0!3m2!1sru!2sru!4v1535838194384"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>
<!--END OUR TEAM-->






<!-- FOOTER -->
<footer class="fixed-bottom">
    <div class="container  justify-content-center">
        <div class="align-bottom text-center bv_fixed_footer ">
            <p style="padding:0; margin: 0; vertical-align: bottom">ВИДЕО и ТВ РЕКЛАМА ДЛЯ <b>IT</b> и <b> ИННОВАЦИОННЫХ
                ПРОЕКТОВ</b></p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ************************************************************************************************************* -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static "landing/js/bv_scripts.js" %}"></script>
<script src="{% static "landing/js/jquery-3.3.1.js" %}"></script>
<script src="{% static "landing/js/popper.js" %}"></script>
<script src="{% static "landing/js/bootstrap.js" %}"></script>
</body>
</html>