/*------------------ЧЕРДАК-----------------------*/
/*настройки топбара*/
.bv_topbar_container {
    height: 460px !important;
    background: #4C0070;
}

.bv_topbar_container container {
    height: inherit !important;
}

#bv_topbar_container_row {
    height: 460px !important;
}

/*настройки главного логотипа*/
.bv_main_logo {
    width: 100%;
    height: inherit;
    /*background-image: url('../image/logo.png');*/
    /*background-position-y: 10px; !*опускание логотипа*!*/
    background-image: url('../image/logo_combo.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* КОНЕЦ настройки главного логотипа*/
/*##############################################################################*/
/*##############################################################################*/

/*----фирменное название стиль ----*/
/*ВИЗУАЛЬНОЕ_АГЕНТСТВО*/
.bv_main_visual_agensy {
    font-size: 26.512px;
    font-family: "Helvetica Neue";
    color: rgb(255, 255, 255);
    line-height: 1.018;
}

/*У нас будет 3 главных меню:
1е меню встроено и имеет праильный градиентный фон;
2е меню зафиксировано сверху и появляется при прокрутке свыше расположения статического
3е меню на всех остальных страницах - ибо там меню всегда дожно быть видно
*/
/* 1е меню - настройки главного меню статического*/
.bv_main_navbar_container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.bv_main_navbar_container .row {
    height: 60px;
    background: linear-gradient(#4C0070 50%, yellowgreen 50%);
    /*margin-right: 0 !important;*/
    /*margin-left: 0 !important;*/
    /*padding-right: 0 !important;*/
    /*padding-left: 0 !important;*/
}

/*второе меню появляющееся при прокрутке*/
#q1 {
}

#bv_sticky_menu {
    /*visibility: hidden;*/
}

#bv_navbar_menu_fixed {
    visibility: visible !important;
    position: absolute !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 9999 !important;

}

#bv_navbar_menu_glavnaja_btn {
    width: 106px;
    height: 50px;
    background: url('../image/topbar_menu/glavnaja_combo.png') no-repeat;

}

#bv_navbar_menu_proj_btn {
    width: 122px;
    height: 50px;
    background: url('../image/topbar_menu/proekt_combo.png') no-repeat;
}

#bv_navbar_menu_blog_btn {
    width: 73px;
    height: 50px;
    background: url('../image/topbar_menu/blog_combo.png') no-repeat;
}

#bv_navbar_menu_how_we_work {
    width: 122px;
    height: 50px;
    background: url('../image/topbar_menu/kak_mi_rabotaem_combo.png') no-repeat;
}

#bv_navbar_menu_kontaks {
    width: 130px;
    height: 50px;
    background: url('../image/topbar_menu/kontakti_combo.png') no-repeat;
}

#bv_navbar_menu_team {
    width: 87px;
    height: 50px;
    background: url('../image/topbar_menu/komanda_combo.png') no-repeat;
}

#bv_navbar_menu_toggler {
    width: 100%;
    height: 100%;
    background: url('../image/topbar_menu/blog_btn.png') no-repeat;
}

/*переключение языков*/
#bv_ru {
    width: 39px;
    height: 22px;
    background: url('../image/topbar_lang/ru_lang.png') no-repeat;
}

#bv_en {
    width: 39px;
    height: 22px;
    background: url('../image/topbar_lang/en_lang.png') no-repeat;
}

#bv_fin {
    width: 39px;
    height: 22px;
    background: url('../image/topbar_lang/fin_lang.png') no-repeat;
}

/*##############################################################################*/
/*##############################################################################*/

/*КОНЕЦ ЧЕРДАК-----------------------------------*/

.test_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.test_container p {
    width: 400px;
    padding: 15px;
    background-color: #f1f1f1;
}

/*##############################################################################*/
/*##############################################################################*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/*##############################################################################*/
/*##############################################################################*/

/*---------------footer fixed----------------------------*/
.bv_fixed_footer {
    /*width: 621px;*/
    width: 100%;
    height: 67px;
    background: url('../image/footer_fixed.png') no-repeat center;

}

.bv_fixed_footer p {
    padding: 35px 0 0 0 !important;
    font-size: 15px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 245, 0);
}

/*##############################################################################*/
/*##############################################################################*/

/*----------------BLOG----------------------------*/
/*фон раздела блог*/
#bv_blog_bg {
    width: 100%;
    min-height: 377px;
    background: url('../image/blog/blog_background.png') no-repeat center;

    /*vertical-align: bottom;*/
}

/*заголовок раздела*/
.bv_blog_header {
    width: 100%;
    min-height: 121px;
    background: url("../image/blog/blog_logo_combo.png") no-repeat;


}

.bv_blog_header h1 {
    font-size: 68.321px;
    font-family: "Helvetica Neue";
    color: rgb(179, 17, 54);
    padding: 8% 0 0 0;
}

/*КОНЕЦ заголовок раздела*/

.bv_blog_buterblog_word {
    /*font-size: 26.512px;*/
    font-size: 26.512px;
    font-family: "Helvetica Neue";
    color: rgb(179, 17, 54);
    line-height: 1.018;
}

/** { border: solid 1px}*/
.bv_blog_nastuchat_po_klave {
    width: 100%;
    min-height: 100px;
    background: url("../image/blog/vam_nastuchat_po_klave_combo_text.png") no-repeat right top;
    padding-bottom: 105px;

}

/*.bv_blog_nastuchat_po_klave h2 {*/
/*font-size: 24.254px;*/
/*font-family: "Helvetica Neue";*/
/*color: rgb(255, 255, 255);*/
/*font-weight: bold;*/
/*line-height: 0.895;*/
/*padding: 5% 0 0 0;*/
/*}*/
.bv_blog_nastuchat_po_klave_content {

}

.bv_blog_nastuchat_po_klave_content h3 {
    font-size: 7.659px;
    font-family: "HelveticaNeueCyr";
    color: rgb(63, 125, 166);
    font-weight: bold;
    /*line-height: 3.069;*/
    text-align: justify;
    padding: 5% 0 0 35%;
}

#bv_blog_nastuchat_po_klave_content p {
    font-size: 0.6rem;
    font-family: "Verdana";
    color: rgb(35, 31, 32);
    /*text-align: left;*/

}

#bv_blog_video_short {
}

#bv_blog_video_short h2 {
    font-size: 13.742px;
    font-family: "Helvetica Neue";
    color: rgb(91, 21, 117);
}

#bv_blog_video_short p {
    font-size: 7.659px;
    font-family: "Verdana";
    color: rgb(35, 31, 32);
    text-align: left;
}

#bv_blog_eshe_button {
    width: 146px;
    height: 45px;
    background: url("../image/blog/eshe_combo.png");
}

/*---------------END BLOG-----------*/
/*##############################################################################*/
/*##############################################################################*/

/*---------------HOW WE WORKS-----------*/
#bv_how_we_works {
    width: 100%;
    min-height: 600px;

    background: url("../image/kak_mi_rabotaem/logka.png") no-repeat bottom right,
    url("../image/kak_mi_rabotaem/background.png") no-repeat center;
}

#bv_how_we_works_logo {
    height: 202px;
    width: 100%;
    background: url("../image/kak_mi_rabotaem/kak_mi_rabotaem_logo_kombo.png") no-repeat top center;
}

#bv_how_we_works_bg_dalshe {
    width: 178px;
    height: 65px;
    background: url("../image/kak_mi_rabotaem/dalshe_button.png") no-repeat center center;
}

/*---------------END HOW WE WORKS-----------*/
/*##############################################################################*/
/*##############################################################################*/

/*---------------TEAM-----------------------*/
#bv_team_logo {
    min-height: 172px;
    background: url("../image/team/team_logo_kombo.png") left top no-repeat;
}

#bv_team_logo_text {
    font-size: 12px;
    font-family: "HelveticaNeueCyr";
    color: rgb(63, 125, 166);
    font-weight: bold;
    line-height: 1.959;
}

/*---------------END TEAM-----------------------*/
/*##############################################################################*/
/*##############################################################################*/

/*---------------KONTAKTS------------------------*/
#bv_kontakts_background {
    width: 100%;
    height: 1234px;
    background: url("../image/kontakts/kontakts_main_background.png") no-repeat;
}

#bv_kontakts_logo {

    min-width: 705px;
    height: 266px;
    background: url("../image/kontakts/kontakts_logo_kombo.png") no-repeat bottom;

}

/*---------------END KONTAKTS------------------------*/