{% load staticfiles %}
{% block blog %}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"><p>ВИДЕО1</p></div>
            <div class="col"><p>ВИДЕО2</p></div>
            <div class="col"><p>ВИДЕО3</p></div>
        </div>
        <div class="navbar justify-content-center">
            <p><a class="btn btn-secondary" href="#" role="button">ЕЩЕ...&raquo;</a></p>
        </div>
    </div>




{% endblock %}
