<!-- Feauters -->
<section class="introtext home2">
    <div class="row spacing-45">
        <div class="col-sm-12">
            <div class="block-grid-sm-4 block-grid-xs-1">
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <span class="typcn typcn-star"></span>
                    <h3>БОЛЬШОЙ ОПЫТ</h3>
                    <p>Более 3 лет – опыт в сфере тонирования автомобилей.</p>
                </div>
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <span class="typcn typcn-group"></span>
                    <h3>ПРОФЕССИОНАЛЫ</h3>
                    <p>Высокая квалификация и профессионализм персонала.</p>
                </div>
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <span class="typcn typcn-watch"></span>
                    <h3>СОБЛЮДЕНИЕ СРОКОВ</h3>
                    <p>Соблюдение сроков и стоимости работ.</p>
                </div>
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <span class="typcn typcn-thumbs-up"></span>
                    <h3>ГАРАНТИЯ КАЧЕСТВА</h3>
                    <p>Гарантируем высокое качество работ.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features -->