<!-- Footer  sticky-->
{% load staticfiles %}
{% block footer %}
    <footer class="fixed-bottom">
        <div class="container">
            <div class="navbar justify-content-center">
                <div class=" ">
                    <p>ВИДЕО и ТВ РЕКЛАМА ДЛЯ <b>IT</b> и <b> ИННОВАЦИОННЫХ ПРОЕКТОВ</b></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<!-- End of Footer sticky -->