<!-- HOW WE WORK  -->
{% load staticfiles %}
{% block how_we_work %}
    <div class="container" id="how_we_work">
        <div class="row">
            <div class="col-sm-9">
                <pre>
    Итак… Как мы работаем? Прежде всего: напишите нам. Опишите
простыми словами, над чем трудитесь, вашу гениальную бизнес-
идею, оригинальный стартап, уникальное предложение, то, почему
вашу  новинку  ждет  великое  будущее,  добавьте  в  письме  пару
деталей,  которые  смогут  помочь  нам  осмыслить  ваши  идеи  чуть
лучше,  уточните,  какими  сроками,  бюджетом  вы  располагаете  и
как вы узнали он нас, а также почему хотите работать именно с
нами и т.д.

Мы свяжемся с вами быстрее, чем вы думаете! Мы зададим еще
много вопросов о вашем продукте, а вы спросите нас о нашем кре-
ативе, продакшене, видеомаркетинге и производственном процес-
се… так мы узнаем друг о друге немного больше, и у нас получится
приятный рабочий диалог.

Что мы делаем…

Мы видеоагентство полного производственного цикла – это значит,
что  у  нас  есть  все  возможности  и  сильная  профессиональная
команда, чтобы осуществить ваш проект от начала до конца.
Креатив и маркетинг. Вместе с вами мы определим, как наиболее
эффективно преподнести вашей целевой аудитории главное пре-
                </pre>
                <p><a class="btn btn-secondary" href="#" role="button">Дальше...&raquo;</a></p>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- END HOW WE WORK -->