<!-- карта адрес и тд-->
{% load staticfiles %}
{% block kontakts %}
    <div class="container ">
        <div class="row ">
            <div class="col-sm-3">
                БУТЕРБРОДВИДЕО
                Визуальное агентство полного
                цикла <br>
                Россия
                Лиговский пр., 65
                Санкт-Петербург
                191040
                офис 10
                Телефон: +7(921)752-11-62
                leesaveliev@gmail.com
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.289462225488!2d30.35535701609655!3d59.927338881872046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631baa6d77847%3A0xa09661a07758aed7!2z0JvQuNCz0L7QstGB0LrQuNC5INC_0YAuLCA2NSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MTA0MA!5e0!3m2!1sru!2sru!4v1535838194384"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
<!-- КОНЕЦ карта адрес и тд-->