{% load staticfiles %}
<!-- Navbar -->

<div class="block">

    <!-- Top bar -->
    <div class="topbar">
        <div class="row">
            <div class="col-sm-6">
                <ul class="phone">
                    <li><span class=""></span> Санкт-Петербург, ул. Васи Пупкина, д.9А</li>
                    <li><span class=""></span> +7 (981) 850-75-XX</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="toplinks">
                    <li>ПН - ПТ 09:00 - 20:00</li>
                    <li><a href="mailto:s-toner@yandex.ru">s-toner@yandex.ru</a></li>
                    <!-- <li><a href="#search" title="Заказ обратного звонка"><i class="fa fa-phone"></i> Заказать звонок</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Top bar -->
    <!-- Search form -->
    <div id="search">
        <button type="button" class="close">x</button>
        <form id="form-back-call" onsubmit="return false">
            <span>Заказ обратного звонка. Введите номер Вашего телефона:</span>
            <input type="text" value="" placeholder=""/>
            <input type="button" value="ЗАКАЗАТЬ ЗВОНОК" id="form-back-button" class="mtr-btn button-blue"
                   style="margin-top:20px; border-radius:5px; width:100%; padding:15px; border:none; box-shadow:none; color:#fff; background:#28CB75;">
        </form>
        <div id="form-back-message" style="display:none; margin-top:220px;">
            <center><b style="font-size:24px">Заявка принята. Скоро мы Вам перезвоним!</b></center>
        </div>
    </div>
    <!-- End of Search form -->
    <!-- Logo & Navigation -->

    <div class="row">
        <div class="col-sm-12">
            <div class="logonav">
                <div class="row no-gutter">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="?page=home"><img src="{% static "landing/image/logo.png" %}"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- End of Logo & Navigation -->
</div>
<!-- End of Header -->






