{% load staticfiles %}
<!-- Testimonials -->
<section class="testimonials home2" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-sm-4">
            <h2>ОТЗЫВЫ КЛИЕНТОВ</h2>
            <hr class="small"/>
            <p>Мнения наших клиентов о нашем сервисе.</p>
        </div>
        <div class="col-sm-8">
            <div id="customers-testimonials" class="owl-carousel">

                <div class="item">
                    <div class="shadow-effect">
                        <p>Затонировал свой поло по кругу. ребята справились чётко и качественно.Ничего сверху
                            заявленной цены не взяли! Гоняю уже третий месяц, нареканий нет!!!!!</p>
                    </div>
                    <div class="testimonial-name home2">
                        <img class="img-circle" src="{% static "landing/image/st1-otz001.jpg" %}" alt=""/>
                        <span class="name">АЛЕКСЕЙ НИКИТИН</span>
                        <span class="company">Старший менеджер</span>
                    </div>
                </div>
                <div class="item">
                    <div class="shadow-effect">
                        <p>Решил сделать бронирование оптики, очень понравился сервис и скорость. На всё про всё ушло
                            около часа (передние фары плюс задние фонари на Лада Веста). Думаю приехать к ним за
                            тонировкой стёкол.</p>
                    </div>
                    <div class="testimonial-name home2">
                        <img class="img-circle" src="{% static "landing/image/st1-otz002.jpg" %}" alt=""/>
                        <span class="name">Валерий Тенишев</span>
                        <span class="company">Инженер-строитель</span>
                    </div>
                </div>
                <div class="item">
                    <div class="shadow-effect">
                        <p>Тонировал в этом сервисе стёкла, кроме передних, сделали всё качественно, пузырей нет. Спустя
                            полгода плёнка прекрасно держится, не пожелтела и нигде не отклеилась! Особое спасибо моему
                            тезке Владу за качественную работу! Рекомендую!</p>
                    </div>
                    <div class="testimonial-name home2">
                        <img class="img-circle" src="{% static "landing/image/st1-otz003.jpg" %}" alt=""/>
                        <span class="name">Влад Антонов</span>
                        <span class="company">Предприниматель</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonials -->