{% block topbar %}
    <div class="container-fluid myheader">
        <h1> this is container-fluid and header </h1>
        <div class="col-sm-6">
            <p>тут у нас лого</p>
        </div>
    </div>
    <!-- тут контейнер для размещения меню-->
    <div class="container-fluid navbar_menu">
        <h1>"этот контейнер разделен на 2 строки. это 1я строка <br> это вторая строка"</h1>
    </div>
{% endblock %}